*{
    box-sizing: border-box;    
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    margin: 0 auto;
    
    min-height: 1024px;
    background-color: rgba(17,17,17,0.7);
    background-image: url(../pics/bg_photo1.png);
    background-size: cover;
}
.logo{
    display: flex;
    align-items: center;
}
.headcont{
    display: flex;
    justify-content: space-between;
    margin-right: 18%;
    margin-left: 18%;
    padding-top: 40px;
    margin-bottom: 270px;
}
.headlogo{
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.logohead{
    display: block;
}
.headnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navlink{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
}
.navlink:hover{
    color: #c7b299;
    transition-duration: 0.4s;
}
.icon:hover{
    color: #c7b299;
    transition-duration: 0.4s;
}
.icon{
    font-size: 24px;
    color: #ffffff;
    margin-right: 10px;
}
.headoffer{
    margin-left: 30%;
    margin-right: 30%;
}
.headcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.headofferdesc{
    font-family: Raleway;
    
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 12px;
}
.headofferhead{
    font-family: Raleway;
    text-align: center;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}
.headoffertext{
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 50px;
}
.started{
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    margin-top: 0;
}
.started:hover{
    box-shadow: 0 0 5px #fff;
    transition-duration: 0.4s;
}
.headleft{
    position: absolute;
    width: 40px;
    height: 73px;
    opacity: 0.5;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 73px;
    left: -300px;
    top: 97px;
}
.headleft:hover{
    color: #d3c1ad;
    transition-duration: 0.4s;
}
.headright{
    position: absolute;
    width: 40px;
    height: 73px;
    opacity: 0.5;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 73px;
    right: -300px;
    top: 97px;
}
.headright:hover{
    color: #d3c1ad;
    transition-duration: 0.4s;
}
.headpagination{
    margin-top: 325px;
    padding-bottom: 40px;
}
.headcircle{
    color: #fff;
    font-size: 12px;
}
.sectiongoods{
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: #fff;
}
.goodscontainer{
    margin-top: 80px;
    margin-left: 18%;
    margin-right: 18%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.goodsitem{
    width: 25%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.goodsitem:hover .goodlink{
    color: #c7b299;
    transition-duration: 0.4s;
}
.goodsitem:hover .goodhead{
    color: #c7b299;
    transition-duration: 0.4s;
}

.goodlink{
    display: block;
    font-size: 49px;
    color: #555555;
    text-decoration: none;
    margin-bottom: 16px;
}
.goodhead{
    display: block;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin-bottom: 16px;
    text-decoration: none;
}
.goodtext{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    
}
.goodsitem::after{
    content: " ";
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: 1px;
    left: auto;
}
.goodsitem:hover::after{
    background-color: #c7b299;
    transition-duration: 0.4s;
}
.realization{
    margin: 0 auto;
    background-color: #fbfaf8;
   
}
.realizationcontainer{
    padding-top: 60px;
    margin-left:  18%;
    margin-right: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.realizationhead{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.realizationtext{
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0;
}
.realizationpic{
    margin-top: 20px;
}
.wordpress{
    margin: 0 auto;
    background-color: #574036;
}
.presscontainer{
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 1200px;
    margin-left: 18%;
    margin-right: 18%;
    display: flex;
    justify-content: space-between;
}
.pressteam{
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
.presstext{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
    margin-top: 0;
    margin-bottom: 0;
}
.pressbutton{
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}
.pressbutton:hover{
    box-shadow: 0 0 5px #fff;
    transform: scale(1.2);
    transition-duration: 0.4s;
}
.project{
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18%;
    margin-right: 18%;
}
.projecthead{
    margin-top: 70px;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin-bottom: 20px;
}
.projecttext{
    text-align: center;
    max-width: 757px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin-top: 0;
    margin-bottom: 45px;
}
.itemphoto{
    background-color: #8c8c8c;
}
.projectbutton{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    padding: 3px 16px;
    margin-right: 8px;
}
.projectbutton:hover{
    background-color: #998675;
    color: #fff;
    transition-duration: 0.4s;
    
}
.projectcontainer{
    max-width: 1200px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.projectitem{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #fbfaf8;
    position: relative;
}
.itempiclink{
    display: block;
 
}
.itemdiv{
    padding-top: 30px;
    position: relative;
}
.itemdiv::before{
    content: " ";
    position: absolute;
    width: 0px;
    height: 0;
    border: 10px solid transparent;
    left: 19px;
    top: -23px;
    border-bottom-color: #fbfaf8;
}

.itemtextlink{
    margin-left: 30px;
    margin-bottom: 14px;
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    text-decoration: none;
    
}

.itemparag{
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    margin-bottom: 30px;
}
.projecthover{
    width: 100%;
    height: 237px;
    background-color: rgba(17,17,17,0.7);
    position: absolute;
    padding: 106px 144px;
    opacity: 0;
}
.hoverchain{
    opacity: 0.7;
    font-size: 25px;
    color: #ffffff;
    margin-right: 10px;
}
.projectitem:hover .projecthover{
    opacity: 1;
    transition-duration: 0.4s;
}
.projectitem:hover {
    background-color: #362f2d;
    transition-duration: 0.4s;
}
.projectitem:hover .itemdiv::before{
    border-bottom-color: #362f2d;
    transition-duration: 0.4s;
}
.projectitem:hover .itemtextlink{
    color: #fff;
    transition-duration: 0.4s;
}
.projectitem:hover .itemparag{
    color: #c7b299;
    transition-duration: 0.4s;
}
.hoverchain:hover{
    color: #c7b299;
    transition-duration: 0.4s;
}
.load{
    margin-bottom: 80px;
    padding: 18px 44px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
.load:hover{
    box-shadow: 0 0 5px #d1d1d1;
    transform: scale(1.2);
    transition-duration: 0.4s;
}
.videopresentation{
    height: 705px;
    background-color: rgba(17,17,17,0.5);
    background-image: url(../pics/bg_photo2.png);
    background-size: cover;
}
.videocontainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 210px;
}
.videobutton{
    background-color: transparent;
    border: none;
}
.videobutton:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.videolink{
    margin-top: 40px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}
.videotext{
    margin-top: 20px;
    max-width: 553px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}
.videotime{
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}
.excellent{
    background-color: #fbfaf8;
    padding-top: 80px;
}

.excellentcontainer{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 40px;
}
.excellenttexts{
    max-width: 660px;
    margin-left: 30px;
}

.excellenthead{
    margin-top: 115px;
    margin-bottom: 40px;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.excellenttext{
    margin-bottom: 45px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}
.excellentitem{
    margin-left: 129px;
    margin-bottom: 8px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;
}
.excellentitem::before{
    content: url(../pics/item.png);
    position: absolute;
    top: 3px;
    left: -39px;
}
.cups{
    height: 350px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}
.cupscontainer{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.cupspic{
    font-size: 44px;
    color: #c7b299;
    margin-bottom: 30px;
    text-align: center;
}
.cupsnumber{
    font-family: Montserrat;
    text-align: center;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 15px;
}
.cupstext{
    font-family: Montserrat;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin-bottom: 30px;
}
.cupsitem{
    position: relative;
}
.cupsitem::after{
    content: " ";
    height: 0;
    width: 30px;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
}
.posts{
    background-color: #fff;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postshead{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.poststext{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    max-width: 750px;
}
.postscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
}
.postsitem{
    border: 1px solid #f8f8f8;
    margin-right: 30px;
    position: relative;
    width: 374px;
}
.postsitemdate{
    position: absolute;
    top: 20px;
    left: 20px;
}
.day{
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    padding: 9px 10px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
}
.month{
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    padding: 4px 13px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}
.postpiclink{
    display: block;
  
}
.poostpic{
    display: block;
    max-width: 370px;
    background-color: #777777;
}
.postshover{
    position: absolute;
    width: 370px;
    height: 220px;
    background-color: rgba(17,17,17,0.7);
    opacity: 0;
}
.postlink{
    text-decoration: none;
    margin-left: 29px;
    margin-top: 30px;
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}
.postsitemtext{
    margin-left: 29px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    max-width: 300px;
    margin-bottom: 30px;
}
.postread{
    text-decoration: none;
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    display: block;
    position: relative;
    margin-bottom: 30px;
}
.postread::after{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #c7b299;
    position: absolute;
    top: 6px;
    left: 84px;
}
.postsitem:hover{
    background-color: #362f2d;
    transition-duration: 0.4s;
}
.postsitem:hover .postlink{
    color: #c7b299;
    transition-duration: 0.4s;
}
.postsitem:hover .postitemtext{
    color: #ffffff;
    transition-duration: 0.4s;
}
.postsitem:hover .day{
    background-color: #c7b299;
    transition-duration: 0.4s;
}
.postsitem:hover .month{
    background-color: #a48d72;
    transition-duration: 0.4s;
}
.postsitem:hover .postshover{
    opacity: 1;
    transition-duration: 0.4s;
}
.postspag{
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
}
.pag{
    font-size: 22px;
    color: #d1d1d1;
    background-color: transparent;
    margin-right: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
}
.pag:hover{
    color: #c7b299;
    border-color: #c7b299;
    transition-duration: 0.4s;
}
.cooperates{
    background-color: rgba(17,17,17,0.7);
    min-height: 489px;
    background-image: url(../pics/bg_photo3.png);
    background-size: cover;
}
.cooperatescontainer{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.cooperatelink{
    display: block;
    margin-right: 90px;
}
.cooperatelink:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.upperfooter{
    min-height: 508px;
    background-color: #191919;
}
.uppercontainer{
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.upperitem{
    margin-right: 40px;
    
}

.footerwax{
    display: flex;
    align-items: center;
}
.footerwax:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.waxpic{
    display: block;
}
.upperlogo{
    text-decoration: none;
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.onetext{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin-bottom: 33px;
}
.upperread{
    display: block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    position: relative;
}
.upperread::after{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #d1d1d1;
    position: absolute;
    top: 6px;
    left: 87px;
}
.upperread:hover{
    text-shadow: 0 0 5px #d1d1d1;
    transition-duration: 0.4s;
}
.upperhead{
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 54px;
}

.onedate{
    display: block;
    text-decoration: none; 
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;;
}
.onepost{
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.onepost::after{
    content: " ";
    height: 0;
    width: 100%;
    border: 0.5px solid transparent;
    border-bottom-color: #d1d1d1;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 115%;
}
.onepost:hover .onedate{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    transition-duration: 0.4s;
}
.onetext1{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}
.onepost:hover .onetext1{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    transition-duration: 0.4s;
}
mark{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #00bff3;
    background-color: transparent;
}
.onetime{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}
.widgetcont{
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.widlink{
    margin-right: 10px;
    margin-bottom: 10px;
}
.widlink:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.lowerfooter{
    min-height: 111px;
    background-color: #111111;
}
.lowercontainer{
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lowernav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lowerlink{
    text-decoration: none;
    display: block;
    margin: 0px 10px;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    position: relative;
}
.lowerlink::after{
    content: " ";
    display: block;
    height: 1em;
    width: 0;
    border: 1px solid transparent;
    border-right-color: #fff;
    position: absolute;
    right: -9px;
    top: 1px;
    opacity: 0.3;
}
.lowerlink:hover{
    color: #c7b299;
    transition-duration: 0.4s;
}
.credits{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
